@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply cursor-pointer rounded-full px-3 py-2 text-xs font-bold tracking-wider;
}

/* from older content (AppOld.jsx) */
/* .header-container {
  display: flex;
  width: 70vw;
}
.header-spacer {
  flex-grow: 1;
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu > ul {
  display: flex;
  list-style: none;
}
.header-menu > ul > li {
  margin: 1rem;
  transition: all 150ms ease-in-out;
}
.header-menu > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.image-container {
  border: 5px;
  border-radius: 5px;
  height: 75px;
  width: 175px;
}
.image-container:hover {
  cursor: pointer;
}
.image-container > img {
  background-color: #888;
}
.image-container > img.active {
  background-color: #535bf2;
}
.slider-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tiles-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 60vw;
}
.tile-container {
  margin: 1rem;
}
.tile-container > h1 {
  font-size: 2rem;
}
.tile-container > img {
  height: 150px;
} */
